*{
    font-family: Arial;
}
body{
   margin: 0;
   padding: 0;
}
.flex{
    display: flex;
    flex-wrap: wrap;
}
article{
    flex: 1;
    min-width: 300px;
    margin-right: 20px;
}
article a{
    text-decoration: none;
}
header{
    display: flex;
    justify-content:center;
    height: 120px;
}
.container{
    display: flex;
    justify-content: space-between;
    width: 990px;

}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    height: 100%;
    max-height: 100px;
}

.menu{
    
    display: flex;
    align-items: center;
}
nav ul,nav li{
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul{
    display: flex;
    
}
nav a{
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #727272;

}
nav .active a,
nav a:hover  {
    background-color: #e74c3c;
    color: white;
}

#banner{
    display: flex;
    justify-content: center;
    background-image: url('../images/banner1.jfif');
    background-position: center;
    background-size: cover;
    height: 800px;
}
.column{
    flex-direction: column;
    
}
.banner_headline{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content:center;
    
}
.banner_headline h1{
    color: white;
    font-size: 70px;
    text-shadow: 0px 2px 0px black;
    margin: 0;
    padding: 0;
    max-width: 350px;
}
.banner_headline h2{
    color: white;
    font-size: 25px;
    text-shadow: 0px 2px 0px black;
    margin: 0;
    padding: 0;
    max-width: 350px;
    margin-top: 30px;
}
.banner_options{
    height: 220px;
    display: flex;
}
.sub-banner1,
.sub-banner2,
.sub-banner3{
    flex: 1;
    color: white;
    padding: 20px;
}
.sub-banner1{
    background-color: #f8c291;
}
.sub-banner2{
    background-color: #e55039;
}
.sub-banner3{
    background-color: #eb2f06;
}
.banner-title{
    font-size: 22px;
}
.banner-desc{
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.banner_options a {
    border:  1px solid white;
    display: inline-block;
    padding: 5px;
    text-decoration: none;
    color: white;
    font-size: 14px;
}
.hours{
    border-bottom: 1px solid white;
    display: flex;
    justify-content: space-between;
    
}
.hours p{
    font-size: 13px;
    display: flex;
}
#geral{
    display: flex;
    justify-content: center;
}
#geral section{
    flex: 2;
}
#geral aside{
    flex: 1;
}
.widget-title{
    margin-top: 30px;
    margin-bottom: 20px;
}
.widget-title-text{
    font-size: 21px;
    color: black;
    font-weight: bolder;
}
.widget-title-bar{
    width: 50px;
    height: 3px;
    background-color: #e55039;
    margin-top: 10px;
    margin-bottom: 30px;
}
.widget-body{
    display: flex;
    
}
.box{
    width: 150px;
    height: 150px;
    background-color:  #e55039;
    margin-top: 25px;
    margin-right: 25px;
}
.widget-title-desc{
    margin-top: 25px;
    margin-bottom: 25px;
}
.contact{
    display:flex;
    
}
.contact img{
    width: 45px;
    margin-right: 10px;

}
.contact span{
    font-size: 20px;
    font-weight: bolder;
}
.news-data{
    display: flex;
}
.new-posted-at{
    background-color:#eb2f06 ;
    padding: 10px;
    font-size: 13px;
    color: white;
    margin-right: 4px;
}
.news-comments{
    background-color:#e55039 ;
    padding: 10px;
    font-size: 13px;
    color: white;
}
.news-thumbnail{
    padding-top: 30px;
}
.news-thumbnail img{
    height: auto;
    width: 100%;
}
.news-title{
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 25px;
}
.news-resume{
    font-size: 14px;
    color: #5c5c5c;
    line-height: 20px;
    margin-bottom: 30px;
}